.footer-design{
    color:#999999;
  justify-content: center;
}
.top-design{
    margin-top: 100px;
}
.white{
    color: whitesmoke;
    /* margin-right: 1000px; */
}
.gap-design{
    margin-top: 100px;
}
.copyright{
    color: #999999;
    margin-top: 100px;
}